import { SignUpRowDataProps } from "../pages/signup";
import {setupAPIClient} from "../services/api";
import {toast} from "react-toastify";

export const handleRowDeleteUser = async (oldData: SignUpRowDataProps) : Promise<void> => {
    const apiClient = setupAPIClient();
    await apiClient.patch('/user/remove', {id: oldData.id});
    toast.success("Removed");
}

#HANDLE_DELETE#