import React, {useContext, useMemo} from 'react';
import {FaRegAddressCard} from 'react-icons/fa';
import Link from 'next/link';

#IMPORT_LINKS#

export function Paths(){
    return(<React.Fragment>
            <Link href="/signup" title={"Sign-Up"}>
                <FaRegAddressCard color="#FFF" size={24}/>
            </Link>
			#LINKS#
        </React.Fragment>);
}