
.hyperLink{
  text-decoration: underline overline;
  color: #7400b8;
}

.buttonFacebook{
  border-radius: 0.3rem;
  color: var(--white);
  background-color:  var(--facebook-button);
  &:hover{
    color: var(--gray-100);
  }
}
.buttonInstagram{

    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );

}
.buttonGitHub{
  border-radius: 0.3rem;
  background-color:  var(--gray-900);
  color:  var(--gray-500);
  &:hover{
    color: var(--gray-100);
  }
}

.containerCenter{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--gray-900);
}

.containerGrid{
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 1.5rem;
}


.login{
  margin-top: 1rem;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 1.5rem;

  h1{
    color: var(--white);
    padding-bottom: 1rem;
  }

  .social {
    padding-top: 1rem;
    width: 90%;
    display: flex;
    flex-direction: row;
    button{
      height: 50%;
      width: 50%;
      font-size: 1.2rem;
    }
  }

  form{
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  form button{
    height: 40px;
    font-size: 1.2rem;
  }

}

.default{
  margin-top: 1rem;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 1.5rem;

  h1{
    color: var(--white);
    padding-bottom: 1rem;
  }

  form{
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  form button{
    height: 40px;
    font-size: 1.2rem;
  }

}

.text{
  margin-top: 1rem;
  color: var(--white);
  cursor: pointer;
}


@media (max-width: 620px) {
  .login{
    width: 90%;
  }
}

